@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.row-custom{
    
    height: 300px;
    
    
}

.github-btn{
    background-color: #171515;
    
}

.btn-linkedin{
    background-color: #1DA1F2;
}

.btn-twitter {
    background-color: #0e76a8;
}

a {
    text-decoration: none;
}